<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>

<body>
    <div class="container">
    <h1 class="display-1" id="h1">Dashboard</h1>

    <br>
    <div class="container select-list">
        <div class="form-group">
            <form method="POST" action="/" enctype=multipart/form-data>
                <p> 
                    <input type=file name=file>
                    <input type=submit class="btn btn-danger" value=Upload>
                </p>

            </form>
        </div>

        <form name=”calculator”>
            <table>
                <tr>
                    <tr>
                        <input type="text" name="display" id="display" disabled>
                    </tr>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>